In [1]:
notes <- read.csv("../data/notas.csv" )  
notes

   ï..alumnos notas carrera
1  DIEGO      10    a001
2  GABRIEL     4    a001
3  ANDRE       7    a001
4  ANDRES     16    a002
5  FERNANDO   16    a003
6  MILAGROS   19    a002
7  OSCAR       9    a001
8  RODRIGO     1    a003
9  ALEJANDRO   7    a001
10 LORENZO    21    a001
11 ELIANE     18    a001
12 ALDAIR     15    a002
13 LUIS        0    a004
14 JAVIER     12    a001
15 ALONSO     17    a002
16 MARCO      18    a001
17 SEBASTIAN  15    a004
18 LUZCIA      0    a001
19 NAYEL      18    a004
20 JOAQUIN     4    a002
21 ILIZARBE    6    a001
22 VIVIANA    18    a004
23 LUIS       10    a004
24 ROCIO      13    a002
25 LEIDY      21    a001
26 MELISSA    16    a002
27 FERNANDO   15    a001
28 MARTIN     21    a001
29 DANIELA    17    a003
30 GONZALO     7    a001
31 SOFIA       6    a003
32 ANGEL      10    a004
33 CAMILA      1    a001
34 ROSA        3    a001
35 MARCELO    21    a002
36 JOSUE      16    a001
37 RUBEN      19    a002
38 HUGO       13    a003

In [2]:
notes['condicion']  <- notes$notas

   ï..alumnos notas carrera condicion
1  DIEGO      10    a001    10
2  GABRIEL     4    a001     4
3  ANDRE       7    a001     7
4  ANDRES     16    a002    16
5  FERNANDO   16    a003    16
6  MILAGROS   19    a002    19
7  OSCAR       9    a001     9
8  RODRIGO     1    a003     1
9  ALEJANDRO   7    a001     7
10 LORENZO    21    a001    21
11 ELIANE     18    a001    18
12 ALDAIR     15    a002    15
13 LUIS        0    a004     0
14 JAVIER     12    a001    12
15 ALONSO     17    a002    17
16 MARCO      18    a001    18
17 SEBASTIAN  15    a004    15
18 LUZCIA      0    a001     0
19 NAYEL      18    a004    18
20 JOAQUIN     4    a002     4
21 ILIZARBE    6    a001     6
22 VIVIANA    18    a004    18
23 LUIS       10    a004    10
24 ROCIO      13    a002    13
25 LEIDY      21    a001    21
26 MELISSA    16    a002    16
27 FERNANDO   15    a001    15
28 MARTIN     21    a001    21
29 DANIELA    17    a003    17
30 GONZALO     7    a001     7
31 SOFIA       6    a003     6
32 ANGEL      10    a004    10
33 CAMILA      1    a001     1
34 ROSA        3    a001     3
35 MARCELO    21    a002    21
36 JOSUE      16    a001    16
37 RUBEN      19    a002    19
38 HUGO       13    a003    13

In [ ]:
notes['Condicion'] <- notes$notas

i <- 1

nrows = dim(notes)[1]

while (i <= nrows){
    
     if (notes$notas[i] >= 11){
        notes$Condicion[i] = 'Aprobo'
        }
    else if (notes$notas[i] < 11){
        notes$Condicion[i] = 'No aprobo'
    }
    i <- i + 1 
}